ipywidgets>=8.1.5,<8.2.0  # http://jupyter.org
jupyter>=1.1.1,<1.2.0  # https://jupyter.org
matplotlib>=3.9.0,<3.10.0  # https://github.com/matplotlib/matplotlib
numpy>=1.26.4,<1.27.0  # https://github.com/numpy/numpy
optuna-integration>=4.0.0,<4.1.0  # null
optuna>=4.0.0,<4.1.0  # null
pandas>=2.2.2,<2.3.0  # https://pandas.pydata.org
scikit-learn>=1.4.2,<1.5.0  # https://github.com/scikit-learn/scikit-learn